{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": ["app.js"],
      "rules": {
        "no-useless-return": "off"
      }
    }
  ]
}
