{
  "extends": "standard",
  "env": {
    "node": true,
    "es2020": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "app.js"
      ],
      "rules": {
        "no-useless-return": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
